.backbox input[type="button"] {
    border-color: #ffc107;
    outline: none;
    height: 40px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    float: right;
    margin: 0;
}

.backbox input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("new.JPG");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    opacity: 0.7;
}

.newBox {
    width: 750px;
    height: 500px;
    background: #f3f2f0;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

label {
    display: inline-block;
    width: 300px;
}

select {
    display: inline-block;
    width: 365px;
}

.newBox input[type="button"] {
    float: right;
    margin: 10px;
    position: relative;
}